{% extends layout %}

{% block title %}All Students{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="card shadow-lg w-three-quarter mx-auto">
		<h4>Students Academic Records</h4>
		<div class="table-responsive border p-5" style="max-height: 60vh;">
			<table class="table table-striped table-bordered sortable">
				<thead>
					<tr>
						<th>PRN</th>
						<th>CGPA</th>
						<th>Live Backlog</th>
						<th>Dead Backlog</th>
						<th>Gap (In Years)</th>
					</tr>
				</thead>
				<tbody>
					{% for student in students %}
						<tr>
							<td>{{ student.prn }}</td>
							<td>{{ student.cgpa }}</td>
							<td>{{ student.liveBacklog }}</td>
							<td>{{ student.deadBacklog }}</td>
							<td>{{ student.yearGap }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>
{% endblock %}